.cloud-icon{
    font-size: 156pt;
    color: #ffd43b;
}

.title-cloud{
    font-size: 28pt;
    color: #b9c6d1 !important;
}

.col-title{
    position: relative;
    bottom: 50pt;
    font-weight: 700;
}